<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <h2 class='w3-wide'>Sumate</h2>

    {{#exito}}
        <div class="w3-green">Te vamo a llama!</div>
    {{/exito}}

    {{#error}}
        <div class="w3-red">Prueba más tarde: deja de joder pepe rock!</div>
    {{/error}}

    <form action="/integrantes/add" method="post">
        <input type="text" required name="nombre">
        <input type="text" required name="instrumento">
        <button type="submit">Sumate</button>
    </form>

</div>