<div class="bg-violet-100 flex flex-col items-center justify-center">
   
 <div class="bg-white rounded-md m-4 flex flex-col items-center justify-center p-8 shadow-md w-2/4">

        <div class="flex flex-col md:flex-row">
            <div class="mb-6 text-center">
                 <h1 class="text-3xl font-bold mb-4 text-violet-500">{{usuario.nombreUsuario}}</h1>
                 <img src="\{{usuario.foto}}" alt="Foto de perfil" class="w-32 h-32 mx-auto rounded-full mb-2">
                <p class="text-lg m-2"><span class="font-semibold">Nombre:</span> {{usuario.nombre}}</p>
                <p class="text-lg m-2"><span class="font-semibold">País:</span> {{usuario.pais}}</p>
                <p class="text-lg m-2"><span class="font-semibold">Correo Electrónico:</span> {{usuario.mail}}</p>
                <p class="text-lg m-2"><span class="text-white bg-violet-500 rounded-sm p-1 text-lg">Puntaje Total:</span> {{usuario.puntajeTotal}}</p>
                <h1 class="text-2xl">Partidas</h1>
             {{#partidas}}
                <p class="text-lg m-2">{{id}}</p>
                <p class="text-lg m-2"><span class="text-white bg-violet-500 rounded-sm p-1 text-lg">Puntaje:</span> {{puntaje}}</p>
             {{/partidas}}
        </div>
    </div>

    </div>
  
</div>

       