<div class="bg-center flex flex-col items-center justify-center h-screen" style="background-image: url('https://esports.eldesmarque.com/wp-content/uploads/2022/05/recompensas-pre-registro-Fall-Guys.jpg')">
   
 <div class="bg-white rounded-md m-4 flex flex-col items-center justify-center p-8 shadow-md w-2/4">

        <div class="flex flex-col md:flex-row">
            <div class="mb-6 text-center">
                 <h1 class="text-3xl font-bold mb-4 text-violet-500">{{nombreUsuario}}</h1>
                 <img src="\{{foto}}" alt="Foto de perfil" class="w-32 h-32 mx-auto rounded-full mb-2">
                <p class="text-lg m-2"><span class="font-semibold">Nombre:</span> {{nombre}}</p>
                <p class="text-lg m-2"><span class="font-semibold">País:</span> {{pais}}</p>
                <p class="text-lg m-2"><span class="font-semibold">Correo Electrónico:</span> {{mail}}</p>
                <p class="text-lg m-2"><span class="text-white bg-violet-500 rounded-sm p-1 text-lg">Puntaje Total:</span> {{puntajeTotal}}</p>
        </div>
        </div>
    </div>
  
</div>

       