<div class="bg-violet-100 flex flex-col items-center">
    <a href="/login/cerrarSesion" class="absolute top-4 right-4">
        <button class="bg-violet-700 rounded-full p-2 text-white">Cerrar Sesión
            <i class="fas fa-sign-out-alt text-white"></i>
        </button>
    </a>
    <a href="/admin/listarPreguntas" class="absolute top-4 left-4">
        <button class="bg-violet-700 rounded-full p-2 text-white">volver
            <i class="fas fa-sign-out-alt text-white"></i>
        </button>
    </a>

    <div class="bg-white rounded-lg shadow-md p-6 w-3/4 mt-4 flex flex-col items-center">
        <h1 class="text-2xl font-bold mb-4">Listado de Usuarios Nuevos</h1>
        <table class="table-auto w-full">
            <thead>
            <tr>
                <th class="px-4 py-2">Nombre</th>
                <th class="px-4 py-2">Nombre de Usuario</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Nivel</th>
            </tr>
            </thead>
            <tbody>
            {{#usuariosNuevos}}
                <tr>
                    <td class="border px-4 py-2">{{nombre}}</td>
                    <td class="border px-4 py-2">{{nombreUsuario}}</td>
                    <td class="border px-4 py-2">{{mail}}</td>
                    <td class="border px-4 py-2">{{nivel}}</td>
                </tr>
            {{/usuariosNuevos}}
            </tbody>
        </table>
    </div>
</div>