<div class="bg-center flex flex-col items-center justify-center h-screen" style="background-image: url('https://esports.eldesmarque.com/wp-content/uploads/2022/05/recompensas-pre-registro-Fall-Guys.jpg')">
   <a href="/login/cerrarSesion" class="absolute top-4 right-4">
            <button class="bg-violet-700 rounded-full p-2 text-white">Cerrar Sesión
                <i class="fas fa-sign-out-alt text-white"></i>
            </button>
        </a>
    <div class="bg-violet-100 rounded-md m-4 flex flex-col items-center justify-center p-8 shadow-md w-1/4 relative">

    <img src="\{{foto}}" alt="Foto de perfil" class="w-32 h-32 mx-auto rounded-full mb-2 absolute top-[-60px]">


    <div class="mb-6 mt-12 text-center">
        <h1 class="text-2xl mb-2">{{nombre}}</h1>
    </div>

    <div class="flex bg-violet-600 text-white rounded-lg mb-4">
        <div class="w-1/3 px-8 pt-4">
            <div class="flex flex-col items-center justify-center">
                <i class="fas fa-star mb-2"></i>
                <P class="text-sm text-gray-100">PUNTOS</P>
                <p  class="font-bold text-white">{{puntajeTotal}}</p>
            </div>
        </div>
        <div class="border-l border-gray-300 h-32"></div> <!-- Divisor vertical -->
        <div class="w-1/3 px-8 pt-4">
            <div class="flex flex-col items-center justify-center">
                <i class="fas fa-crown  mb-2"></i>
                <P class="text-sm text-gray-100">RANKING</P>
                <p  class="font-bold text-white">#{{ranking}}</p>
            </div>
        </div>
        <div class="border-l border-gray-300 h-32"></div> <!-- Divisor vertical -->
        <div class="w-1/3 px-8 pt-4">
            <div class="flex flex-col items-center justify-center">
                <i class="fas fa-question  mb-2"></i>
                <P class="text-sm text-gray-100">PREGUNTAS<br>ACERTADAS</P>
                <p class="font-bold text-white">20</p>
            </div>
        </div>
    </div>
  
   <div class="flex flex-row justify-between">
    <form class="mx-2" action="/partida/jugar" method="get">
        <button type="submit" class="bg-pink-500 text-white py-2 px-4 rounded-md mb-4 hover:bg-pink-600">Crear Partida</button>
    </form>
    <form class="mx-2" action="/ranking/list" method="get">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md mb-4 hover:bg-blue-600">Ver Ranking</button>
    </form>
   </div>
      <div class="bg-purple-600 text-white py-2 px-4 rounded-md mb-4 hover:bg-purple-700">
            <a href="/pregunta/list" class="text-white">Sugerir pregunta</a>
    </div>
    
        {{#error}}
            <div class="bg-red-400 rounded-md py-2 my-2 text-sm">
                <p class="text-white font-medium text-center p-4"> Respuesta Incorrecta, vuelve a intentarlo! </p>
            </div>
    {{/error}}
    
     {{#errorTiempo}}
            <div class="bg-red-400 rounded-md py-2 my-2 text-sm">
                <p class="text-white font-medium text-center p-4"> Se agoto el tiempo. Vuelve a intentarlo! </p>
            </div>
    {{/errorTiempo}}
    {{#preguntaReportada}}
            <div class="bg-red-400 rounded-md py-2 my-2 text-sm">
                <p class="text-white font-medium text-center p-4"> La pregunta ha sido resportada. </p>
            </div>
    {{/preguntaReportada}}
    {{#preguntaSugerida}}
            <div class="bg-green-400 rounded-md py-2 my-2 text-sm">
                <p class="text-white font-medium text-center p-4"> Se agrego la pregunta sugerida con exito! </p>
            </div>
    {{/preguntaSugerida}}
    
    </div>
  
</div>