<div class="w3-container w3-padding-16" style="max-width: 400px; margin: 0 auto;">
    <h2 class='w3-wide'>Login</h2>
    <p class='w3-justify'>Bienvenidos!</p>
    {{#exito}}
        <div class="w3-panel w3-green"> Se inició sesion</div>
    {{/exito}}

    {{#error}}
        <div class="w3-panel w3-red">Usuario y/o contraseña inválido</div>
    {{/error}}
        <form class="registro-formulario" action="/login/verify" method="post" enctype="multipart/form-data">
         <label for="nombreUsuario" class="registro-label">Nombre de Usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" class="w3-input w3-border w3-medium" required><br><br>

         <label for="contrasenia" class="registro-label">Contraseña:</label>
        <input type="password" id="contrasenia" name="contrasenia" class="w3-input w3-border w3-medium" required><br><br>

        <input type="submit" value="Login" class="w3-button w3-block w3-black w3-section w3-padding w3-xsmall">

        </form>
</div>