
<script>
let tiempoRestante = sessionStorage.getItem("tiempoRestante") || 10; // Obtener el valor del tiempo restante de sessionStorage o usar 10 como valor predeterminado

const interval = setInterval(function() {
    tiempoRestante--;
    document.getElementById("tiempo-restante").textContent = tiempoRestante;

    if (tiempoRestante <= 0) {
        clearInterval(interval);
        
        fetch('/partida/tiempoAgotado', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = '/lobby/list?tiempoAgotado=true';
            }
        })
        
    }
}, 1000);

// Al hacer clic en una respuesta
function guardarTiempoRestante() {
    sessionStorage.setItem("tiempoRestante", tiempoRestante); // Guardar el tiempo restante en sessionStorage
}
</script>

<div class="bg-violet-100 flex items-center justify-center h-screen" style="background-color:{{categoria}}">
<div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">

        {{#mostrarImagen}}
        <div class="mb-6 text-center">
             <h1 class="text-3xl font-semibold text-violet-500">00:<span class="text-3xl font-semibold text-violet-500" id="tiempo-restante">10</span></h1>    
        </div>

        <div class="text-center">
            <img src="{{pregunta.categoria.urlImagen}}" alt="{{pregunta.pregunta}}" class="w-40 mx-auto mb-4 rounded-md">
            <p class="text-violet-500 font-medium m-4">{{pregunta.categoria.nombre_categoria}}</p>
        </div>
        {{/mostrarImagen}}

    <div>

        <h2 class="text-2xl font-semibold">{{pregunta.pregunta}}</h2>

    </div>
   {{#respuestas}}
        <form class="mt-6" action="/partida/respuesta" method="POST" >
            <div class="flex m-auto bg-violet-500 my-8 text-white py-2 px-4 rounded-md hover:bg-violet-600">
                <button type="submit"> {{respuesta}} </button>
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="respuesta" value="{{respuesta}}">
            </div>
        </form>
    {{/respuestas}}
    {{#reportar}}  
    <form action="/partida/reportarPregunta" method="get">
    <button class="flex m-auto bg-orange-500 my-4 text-white py-2 px-4 rounded-md hover:bg-orange-600" type="submit" id="reportar" name="reportar">Reportar</button> 
     <input type="hidden" id="idPregunta" name="idPregunta" value="{{pregunta.id}}">
    </form>
   {{/reportar}}  
  
    {{#seguirJugando}}
            <img src="\public\img\correcto.png" alt="Ganaste" class="w-40 mx-auto mb-4">
            {{#mensaje}}
            <div class="bg-green-400 rounded-md py-2 my-2 text-sm">
                <p class="text-white font-medium text-center"> ¡RESPUESTA CORRECTA! </p>
            </div>        
            {{/mensaje}}
            <form class="mt-6" action="/partida/jugar" method="get" >
            <div>
                <button type="submit" class="flex text-white font-medium text-center mx-auto bg-yellow-500 my-8 text-white py-2 px-4 rounded-md hover:bg-yellow-600">Seguir jugando</button>
            </div>
            </form>
            <div>
               <p class="text-purple-400 text-center">Puntaje: <span class="font-bold"> {{puntaje}}</span></p>
            </div>
    {{/seguirJugando}}

    </div>
    </div>
