
<script>
let tiempoRestante = 10;

const interval = setInterval(function() {
    tiempoRestante--;
    document.getElementById("tiempo-restante").textContent = tiempoRestante;

    if (tiempoRestante <= 0) {
        clearInterval(interval); 
        tiempoAgotado = true;

        // Realizar una petición POST para guardar el puntaje y restablecer la pregunta
        fetch('/partida/tiempoAgotado', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = '/lobby/list?tiempoAgotado=true';
            }
        })
        
    }
}, 1000);
</script>

<div class="bg-violet-100 flex items-center justify-center ">
<div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">

        {{#mostrarImagen}}
        <div class="mb-6 text-center">
             <h1 class="text-3xl font-semibold text-violet-500">00:<span class="text-3xl font-semibold text-violet-500" id="tiempo-restante">10</span></h1>    
        </div>

        <div class="text-center">
            <img src="{{pregunta.categoria.urlImagen}}" alt="{{pregunta.pregunta}}" class="w-40 mx-auto mb-4 rounded-md">
            <p class="text-violet-500 font-medium m-4">{{pregunta.categoria.nombre_categoria}}</p>
        </div>
        {{/mostrarImagen}}

    <div>

        <h2 class="text-2xl font-semibold">{{pregunta.pregunta}}</h2>

    </div>
   {{#respuestas}}
        <form class="mt-6" action="/partida/respuesta" method="POST" >
            <div class="flex m-auto bg-violet-500 my-8 text-white py-2 px-4 rounded-md hover:bg-violet-600">
                <button type="submit"> {{respuesta}} </button>
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="respuesta" value="{{respuesta}}">
            </div>
        </form>
    {{/respuestas}}  
    <form action="/partida/reportarPregunta" method="get">
    <button type="submit" id="reportar" name="reportar">Reportar</button> 
     <input type="hidden" id="idPregunta" name="idPregunta" value="{{pregunta.id}}">
    </form>
  
  
    {{#seguirJugando}}
            <img src="\public\img\correcto.png" alt="Ganaste" class="w-40 mx-auto mb-4">
            {{#mensaje}}
            <div class="bg-green-400 rounded-md py-2 my-2 text-sm">
                <p class="text-white font-medium text-center"> ¡RESPUESTA CORRECTA! </p>
            </div>        
            {{/mensaje}}
            <form class="mt-6" action="/partida/jugar" method="get" >
            <div class="bg-yellow-500 my-8 text-white py-2 px-4 rounded-md hover:bg-yellow-600">
                <button type="submit" class="flex text-white font-medium text-center">Siguiente Pregunta</button>
            </div>
            </form>
            <div>
               <p>El puntaje es {{puntaje}}</p>
            </div>
    {{/seguirJugando}}

    </div>
    </div>
