<div class="bg-violet-100 flex items-center justify-center h-screen">
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
      <div class="text-center">
            <h1 class="text-2xl font-semibold">Sugerir Pregunta</h1>
        </div>

    
<form class="mt-6 px-4" action="/pregunta/sugerirPregunta" method="post" enctype="multipart/form-data">
    <div class="px-4">
        <label for="preguntaSugerida" class="block text-gray-600 text-sm font-medium mb-2 mt-2">Escriba su pregunta:</label>
        <textarea id="preguntaSugerida" name="preguntaSugerida" class="m-auto" required></textarea>
        <input type="submit" value="Enviar" class="flex mt-4 bg-violet-500 text-white py-2 px-4 rounded-md hover:bg-violet-600 m-auto">    
    </div>
</form>

    </div>
</div>


